 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  <!-- =======================================================
  * Template Name: Butterfly - v4.7.0
  * Template URL: https://bootstrapmade.com/butterfly-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="{% url 'index' %}" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid">&nbsp DEEP</a>
      <!-- Uncomment below if you prefer to use text as a logo -->
      <!-- <h1 class="logo"><a href="index.html">Butterfly</a></h1> -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Search</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  
  <main id="main">

 <section style="margin-top:100px;" id="about" class="team section-bg">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <p></p>
            <h2>About</h2>
            <p></p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            
            <p>Database of Early English Playbooks (DEEP) allows scholars and students to investigate the publishing, printing, and marketing of English Renaissance drama in ways not possible using any other print or electronic resource. An easy-to-use and highly customizable search engine of every playbook produced in England, Scotland, and Ireland from the beginning of printing through 1660, DEEP provides a wealth of information about the original playbooks, their title-pages, paratextual matter, advertising features, bibliographic details, and theatrical backgrounds.</p>
  
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img ">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/bb/The_Globe_1_%285135787489%29.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div style="margin-top:100px" class="row">
          <div class="section-title">
            <p></p>
            <h2>History</h2>
            <p></p>
          </div>
          <div class="col-lg-6 order-1 order-lg-1 hero-img ">
            <img src="http://shakespeareandbeyond.folger.edu/wp-content/uploads/sites/5/2019/01/017321.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-2 d-flex flex-column justify-content-center">
            
            <p>In 1999, while graduate students in English Literature at Columbia University, we created the original, quite different version of DEEP, which “lived” only on our own computers, because we wanted to answer some questions we had about the marketing of authorship and theatricality on the title pages of early modern English playbooks. Since then, we have updated the database continuously, adding new information as our research moved into new areas and new questions arose.

            Beginning in 2005, we have worked with web designers and programmers to convert this database into a web resource so that all scholars and students can have access to it. Along the way, DEEP has been generously funded by the Campus Research Board at the University of Illinois, Urbana-Champaign, the School of Arts and Sciences at the University of Pennsylvania, and Penn's Schoenberg Center For Electronic Text and Image (SCETI).
            
            Much of the site development and the original coding was done by David Cross at the University of Illinois, where Traci Vaughan developed the visual design for the site, and Sara Long was the graphic designer. Three computer programmers at the University of Pennsylvania--Brian Kirk, Pan Thomakos, and Michajlo Matijkiw--transformed the database to its current form, greatly enhancing and improving its functionality. David McKnight, Director of SCETI, coordinated the project and helped with funding.
            
            DEEP went “live” in November, 2007. Please contact us with any suggestions for the site or corrections to the data. We are eager to get your feedback so that we can continue to improve the site.
            -Alan B. Farmer and Zachary Lesser</p>
            
          </div>
         
        </div>
      </div>
      <div class="container">
    </section>

   
    <!-- ======= Team Section ======= -->
    <section id="about" class="team section-bg">
      

        <div style="margin-top: 5px;" class="section-title">
          <p></p>
          <h2>Team</h2>
          <p></p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch"></div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="https://opic.osu.edu/farmer.109?aspect=p&width=300" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Alan B. Farmer </h4>
                <span>Associate Professor</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="https://www.english.upenn.edu/sites/default/files/people/photo/Lesser%20photo.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Zachary Lesser</h4>
                <span>Edward W. Kane Professor of English
                </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch"></div>


        </div>

      </div>
    </section><!-- End Team Section -->
</main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

 
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  
 
  
</body>

</html>