{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DEEP</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/img/logo.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <!-- <link href="{% static '/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="{% static '/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="{% static '/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="{% static '/css/style.css' %}" rel="stylesheet">
  
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/nlx7xjv.css">
  {% block extra_css %}{% endblock %}
  <!-- =======================================================
  * Template Name: Butterfly - v4.7.0
  * Template URL: https://bootstrapmade.com/butterfly-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
<!--  <header id="header" class="fixed-top">-->
<!--    <div class="container d-flex align-items-center justify-content-between">-->

<!--      <a style="color: #330e40;"href="{% url 'index' %}" class="logo"><img style="margin-bottom: 6px;" src="{% static '/img/logo.png' %}" alt="" class="img-fluid">&nbsp Database of Early English Playbooks</a>-->
<!--      &lt;!&ndash; Uncomment below if you prefer to use text as a logo &ndash;&gt;-->
<!--      &lt;!&ndash; <h1 class="logo"><a href="index.html">Butterfly</a></h1> &ndash;&gt;-->

<!--      <nav id="navbar" class="navbar">-->
<!--        <ul>-->
<!--          &lt;!&ndash; <li><a class="nav-link scrollto" href="browse.html">Browse</a></li> &ndash;&gt;-->
<!--			<li class="nav-link scrollto dropdown text-dark"><a href="#"><span><img class="menuIcon" src="{% static '/img/menu.png' %}" alt="Menu Icon"></span>-->
<!--				&lt;!&ndash;							<i class="bi bi-chevron-down"></i>&ndash;&gt;-->
<!--			</a>-->
<!--				<ul>-->
<!--              <li><a href="../about/">The History behind DEEP</a></li>-->
<!--              <li><a href="../using_deep/">How to Use DEEP</a></li>-->
<!--              <li><a href="../whats_new/">DEEP Update History</a></li>-->
<!--              <li><a href="../sources/">Bibliographic Sources</a></li>-->
<!--              <li><a href="../abbrev/">Abbreviations and References</a></li>-->
<!--              <li><a href="../download">Download Data</a></li>-->
<!--              <li><a href="../cite/">How to Cite DEEP</a></li> -->
<!--              <li><a href="../contact/">Contact Us</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          -->
<!--        </ul>-->
<!--        <i class="bi bi-list mobile-nav-toggle"></i>-->
<!--      </nav>&lt;!&ndash; .navbar &ndash;&gt;-->

<!--    </div>-->
<!--  </header>&lt;!&ndash; End Header &ndash;&gt;-->

<div class="awwsHeader">
	<div class="awwsHeaderContent">
		<img src="/assets/img/logo.png" alt="" class="headerLogo">
		<h1 class="awwsTitle">Database of Early English Playbooks</h1>
		<div class="awwsNavContainer">
			<img class="menuIcon" src="assets/img/menu.png" alt="Menu Icon" onclick="navToggle()">
			<div id="awwsNavDisplay" class="awwsNavLinks">
				<a href="../about/">The History behind DEEP</a>
				<a href="../using_deep/">How to Use DEEP</a>
				<a href="../whats_new/">DEEP Update History</a>
				<a href="../sources/">Bibliographic Sources</a>
				<a href="../abbrev/">Abbreviations and References</a>
				<a href="../download">Download Data</a>
				<a href="../cite/">How to Cite DEEP</a>
				<a href="../contact/">Contact Us</a>
			</div>
		</div>
	</div>
</div>
  
  <main id="main">

    {% block content%} {% endblock %}

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<!-- <footer id="footer"></footer> -->
<!-- End Footer -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<script src="{% static '/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static '/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!-- Template Main JS File -->
<script src="{% static '/js/main.js' %}"></script>
{% block extra_js %}{% endblock %}

</body>

</html>
