{% extends 'base.html' %}
{% block content %}

<section id="search" class="services section-bg">
    <div style="margin-top:80px; min-height: 600px;" class="container" >
        <div id="users">
          <div class="row">
            <div class="card col-lg-12 col-md-12">
        
                <p></p>
                <h2>Build Complete</h2>
                <p></p>
                
                <p><a href="../admin/"">Click here to return to admin</a></p>
                  
            </div>
          
        </div>
    </div>
</section>

   
{% endblock %}