{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DEEP</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  <!-- =======================================================
  * Template Name: Butterfly - v4.7.0
  * Template URL: https://bootstrapmade.com/butterfly-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="{% url 'index' %}" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid">&nbsp DEEP</a>
      <!-- Uncomment below if you prefer to use text as a logo -->
      <!-- <h1 class="logo"><a href="index.html">Butterfly</a></h1> -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Search</a></li>
          <li><a class="nav-link scrollto" href="about.html">About</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  
  <main id="main">

   

<!-- ======= Search Section ======= -->
<section id="search" class="services section-bg">
  <div style="margin-top:80px;" class="container">

    

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-search" style="color: #000cb3;"></i></div>
          
            <input id="search_bar" onkeyup="search_bar()" style="margin-left:10px; width:100%" type="text" name="search" placeholder="Search for a playbook...">
        
        </div>
      </div>
      
      
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="icon-box">
        <div class="icon"><i class="bi bi-book-fill" style="color: #ff689b;"></i></div>
        <h4 class="title"><a href="">By Title</a></h4>
        <select id="titles" data-placeholder="Select title..." class="form-control select-access-multiple-enable">
      </select>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="icon-box">
        <div class="icon"><i class="bi bi-person-lines-fill" style="color: #e9bf06;"></i></div>
        <h4 class="title"><a href="">By Author</a></h4>
        <select id="author" data-placeholder="Select author..."  class="form-control select-access-multiple-enable">
        </select>
        </div>
    </div>


    <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
      <div style="pointer-events: none; opacity: 0.4;" class="icon-box">
        <div class="icon"><i class="bi bi-border-width" style="color:#41cf2e;"></i></div>
        <h4 class="title"><a href="">By Theater</a></h4>
        <select id="theater" data-placeholder="Select theater..."  class="form-control select-access-multiple-enable">
        </select>
        </div>
    </div>

    

    
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div id="results"  class="icon-box">
        <div class="icon"><i class="bi bi-binoculars-fill" style="color: #000cb3;"></i></div>
        
        
      
      </div>
    </div>
    
</div>
</section><!-- End Search Section -->

  
  
    
    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

 
  </footer><!-- End Footer -->


  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="https://unpkg.com/lunr/lunr.js"></script>
  
 <script>
// you should get the data from JSON and use it to build option tag to let the normal filter works. 

  $('#titles').select2({
  ajax: {
    {% if build %}
    url: "../assets/data/items.json",
    {% else %}
    url: "{% url 'title_autocomplete' %}",
    {% endif %}

    dataType: 'json'
    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
  }
});
$('#titles').on('select2:select', function(e) {
    search();
  });
  
$('#author').select2({
  ajax: {
    {% if build %}
    url: "../assets/data/authors.json",
    {% else %}
    url: "{% url 'person_autocomplete' %}",
    {% endif %}
    dataType: 'json'
    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
  }
});
$('#author').on('select2:select', function(e) {
    search();
  });

$('#theater').select2({
  ajax: {
    {% if build %}
    url: "../assets/data/theater.json",
    {% else %}
    url: "{% url 'theater_autocomplete' %}",
    {% endif %}
    dataType: 'json'
    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
  }
});
  </script>
  <!-- select2 JS File -->
 <script>

let ItemData;    
fetch("../assets/data/item_data.json").then(
        function(u){ return u.json();}
      ).then(
        function(json){
          ItemData = json;
        }
      )


function htmlToElement(html) {
      var template = document.createElement("template");
      html = html.trim(); // Never return a text node of whitespace as the result
      template.innerHTML = html;
      return template.content.firstChild;
    }

let index;
$.getJSON("../assets/lunr/search.json", function(json) {
  index = lunr.Index.load(json);;
});

function search() {
    // clear existing results 
    existingResults = document.getElementById("results");
    while (existingResults.firstChild) {
      existingResults.removeChild(existingResults.firstChild);
    }
    
    // select values in search and filters 
    let query = '';
    let search_bar_value = document.querySelector('#search_bar').value;
    if (search_bar_value) {
      query += search_bar_value + '~1' //fuzzy search,  1 edit distance
    }
    let titles =  document.querySelector('#titles').value;
    if (!titles.length == 0) { 
      query += ' +id:' + titles;
    }
    let author=  document.querySelector('#author').value;
    if (!author.length == 0) { 
      query += ' +author_id:' + author;
    }
    let theater=  document.querySelector('#theater').value;
    if (!theater.length == 0) { 
      query += ' person_id:' + theater;
    }

    // Lunr query and populate results
    console.log('[query]', query)
    search_results = index.search(query)
    for (i in search_results) {
      if (search_results[i].score > 0) {
        //
        let ref_id = search_results[i].ref;
        let data = ItemData[ref_id];
        console.log(data)
        document
            .querySelector("#results")
            .appendChild(
              htmlToElement(
                `<div onclick="showModal(${search_results[i].ref});" id="${search_results[i].ref}" style="border: 1px inset rgba(95,81,164,0.26); border-radius: 20px; padding:50px;">
                <div class="row">
                  <div class="col-lg-8 col-md-4">
                  <h4>${data['title']}</h4>
                  </div>
                  <div class="col-lg-2">
                  <h6>${data['year']}</h6>
                  </div>
                  <div class="col-lg-2">
                  <h6>${data['greg_full']}</h6>
                  </div>
                </div>
                </div>`
              )
            );

      }
      
    }
   
}; 

function search_bar() {
  // trigger search on enter from search bar
  if (event.keyCode === 13) { 
    search();
  }
}

function showModal(id) {
  let data = ItemData[id];
  console.log(data);
  //document.querySelector('#deepModal').on('show.bs.modal', function (event) {
  // })

}

 </script>
  
</body>

</html>