{% extends 'base.html' %}

{% block content %}
<section id="search" class="services section-bg">
    <div id="item" style="min-height: 600px; margin-top:50px" class="container" ></div>
</section>

<script src="assets/js/deep.js"></script>   
<script>
  // fetch data for all records, item_data is an object that serves as a lookup ex. item_data[330]
let item_data;
let item_array;
fetch("../assets/data/item_data.json").then(
        function(u){ return u.json();}
      ).then(
        function(json){
          item_data = json;
          // we also need an array of items for filtering
          item_array = Object.values(item_data);
        });
// deep_id from url
let deep_id = window.location.href.split('/')[3];
itemDiv = document.getElementById("item");
itemDiv.id = deep_id;
expand(itemDiv, deep_id)
</script>   

{% endblock %}
